<a href="https://colab.research.google.com/github/tdhakate/CVPython/blob/main/Customer_PersonalLoan_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sba

In [8]:


# reading the CSV file into pandas dataframe
df_loan=pd.read_csv("Bank.csv")
print(df_loan)

        ID  Age  Experience  ...  CD Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1        2   45          19  ...           0       0           0
2        3   39          15  ...           0       0           0
3        4   35           9  ...           0       0           0
4        5   35           8  ...           0       0           1
...    ...  ...         ...  ...         ...     ...         ...
4995  4996   29           3  ...           0       1           0
4996  4997   30           4  ...           0       1           0
4997  4998   63          39  ...           0       0           0
4998  4999   65          40  ...           0       1           0
4999  5000   28           4  ...           0       1           1

[5000 rows x 14 columns]

In [11]:
df_loan.shape

(5000, 14)

In [12]:
df_loan.describe()

                ID          Age  ...       Online   CreditCard
count  5000.000000  5000.000000  ...  5000.000000  5000.000000
mean   2500.500000    45.338400  ...     0.596800     0.294000
std    1443.520003    11.463166  ...     0.490589     0.455637
min       1.000000    23.000000  ...     0.000000     0.000000
25%    1250.750000    35.000000  ...     0.000000     0.000000
50%    2500.500000    45.000000  ...     1.000000     0.000000
75%    3750.250000    55.000000  ...     1.000000     1.000000
max    5000.000000    67.000000  ...     1.000000     1.000000

[8 rows x 14 columns]

In [15]:
df_loan.describe().transpose()

                     count          mean  ...       75%      max
ID                  5000.0   2500.500000  ...   3750.25   5000.0
Age                 5000.0     45.338400  ...     55.00     67.0
Experience          5000.0     20.104600  ...     30.00     43.0
Income              5000.0     73.774200  ...     98.00    224.0
ZIP Code            5000.0  93152.503000  ...  94608.00  96651.0
Family              5000.0      2.396400  ...      3.00      4.0
CCAvg               5000.0      1.937938  ...      2.50     10.0
Education           5000.0      1.881000  ...      3.00      3.0
Mortgage            5000.0     56.498800  ...    101.00    635.0
Personal Loan       5000.0      0.096000  ...      0.00      1.0
Securities Account  5000.0      0.104400  ...      0.00      1.0
CD Account          5000.0      0.060400  ...      0.00      1.0
Online              5000.0      0.596800  ...      1.00      1.0
CreditCard          5000.0      0.294000  ...      1.00      1.0

[14 rows x 8 columns]

In [ ]:

From the above dataset, the target variable is "Personal Loan". We predict whether a person is likely to take loan or not.

Here Family, Personal Loan, Securities Account, CD Account, Online, CreditCard are Categorical variables.

Dependent variables related to Bank are Personal Loan, Securities Account, CD Account, Online, CreditCard.

From the description we can see 'Experience -3'. The experience cannot be a negative value and it is some error with the data.

In [19]:
# Now we count the no of records having negative experience
df_loan[df_loan['Experience'] < 0]['Experience'].count()

0

In [18]:
df_loan['Experience'] = df_loan["Experience"].abs()

In [20]:
df_loan[df_loan['Experience'] < 0]['Experience'].count()

0

In [22]:
df_loan.describe().transpose()

                     count          mean  ...       75%      max
ID                  5000.0   2500.500000  ...   3750.25   5000.0
Age                 5000.0     45.338400  ...     55.00     67.0
Experience          5000.0     20.134600  ...     30.00     43.0
Income              5000.0     73.774200  ...     98.00    224.0
ZIP Code            5000.0  93152.503000  ...  94608.00  96651.0
Family              5000.0      2.396400  ...      3.00      4.0
CCAvg               5000.0      1.937938  ...      2.50     10.0
Education           5000.0      1.881000  ...      3.00      3.0
Mortgage            5000.0     56.498800  ...    101.00    635.0
Personal Loan       5000.0      0.096000  ...      0.00      1.0
Securities Account  5000.0      0.104400  ...      0.00      1.0
CD Account          5000.0      0.060400  ...      0.00      1.0
Online              5000.0      0.596800  ...      1.00      1.0
CreditCard          5000.0      0.294000  ...      1.00      1.0

[14 rows x 8 columns]